.matCard
{
  background-color: white;
  height: 400px;  
  width: 200px;
  margin: 5px;  
  line-height: 25px;
  font-size: 13px;
}

.cardTitle
{
  font-size:12px;
  color: #414c90;
  font-weight: 800;
}

.infotitle
{
font-size: 12px;
font-weight: 600;
margin-bottom: 0px;
color: #000102;
}

.info
{
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-left: 4px;
  color: #43518d;

}

.info > li {
  margin-left: 35px;
    }


//TABLET

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .matCard
  {
    background-color: white; 
    height: 390px; 
    width: 230px;
    padding: 30px;
    line-height: 20px;
    font-size: 13px;
  }
 
.image
{
  background-color: #f1f1f3;
  height: 50px !important;
  padding: 12px !important;
}
}


//PHONE
@media only screen and (max-width: 700px) {
  .matCard
  {
    background-color: white;
    height: 370px;  
    width: 200px;    
    line-height: 20px;
    font-size: 13px;
  }
 
.image
{
  background-color: #f1f1f3;
  height: 50px !important;
  padding: 12px !important;
}
}

.image
{
  background-color: #f1f1f3;
  height: 170px !important;
  padding: 16px !important;
}


